<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        
        <title>Cofetăria Dulcelind - home</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <div class="card">
                    <h3><span class="nume"><%- locals.prod.name %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.price %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.description %> </span></p>
                    <p>Brand: <span class="ingrediente"><%- locals.prod.brand %> </span></p>
                    <p>Culoare: <span class="calorii"><%- locals.prod.color %> </span></p>
                    <p>Material: <span class="gramaj"><%- locals.prod.material %> </span></p>
                    <p>Tip de ochelari: <span class="categorie"><%- locals.prod.product_type %> </span></p>
                    <p>Tip rama: <span class="pt_diabetici"><%- locals.prod.frame_type %> </span></p>
                    <p>Latime rama: <span class="categorie"><%- locals.prod.frame_width %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.addition_date %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resources/images/products/<%- locals.prod.image %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>  
                </div>  
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>